langchain
langchain-core
langchain-text-splitters
langfuse
langchain_qdrant
langchain_community
langchain-huggingface
sentence-transformers==2.6.0
transformers
asyncio==3.4.3
fastapi==0.111.0
qdrant-client
uvicorn[standard]
unstructured[xlsx]
unstructured[pptx]
python-magic
python-dotenv
openpyxl
docx2txt
pymupdf==1.25.1
pydantic
fastapi-utilities
sqlmodel
nltk
unstructured
python-pptx